<div id="<%= dom_id active_ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= active_ingredient.name %>
  </p>

  <p>
    <strong>Common use:</strong>
    <%= active_ingredient.common_use %>
  </p>

</div>
