<h1>Editing active ingredient</h1>

<%= render "form", active_ingredient: @active_ingredient %>

<br>

<div>
  <%= link_to "Show this active ingredient", @active_ingredient %> |
  <%= link_to "Back to active ingredients", active_ingredients_path %>
</div>
