<div id="<%= dom_id medication_active_ingredient %>">
  <p>
    <strong>Medication:</strong>
    <%= medication_active_ingredient.medication_id %>
  </p>

  <p>
    <strong>Active ingredient:</strong>
    <%= medication_active_ingredient.active_ingredient_id %>
  </p>

  <p>
    <strong>Miligrams:</strong>
    <%= medication_active_ingredient.miligrams %>
  </p>

</div>
