<h1>Editing medication active ingredient</h1>

<%= render "form", medication_active_ingredient: @medication_active_ingredient %>

<br>

<div>
  <%= link_to "Show this medication active ingredient", @medication_active_ingredient %> |
  <%= link_to "Back to medication active ingredients", medication_active_ingredients_path %>
</div>
